datasets==2.14.7
sentencepiece==0.2.0
accelerate==0.21.0
deepspeed==0.12.6
huggingface-hub==0.22.2
ninja==1.11.1
tokenizers==0.13.3
transformers==4.31.0
numpy==1.25.2
protobuf==4.23.4
Jinja2==3.1.2
multiprocess==0.70.15
networkx==3.1
nltk==3.8
rouge==1.0.1
fuzzywuzzy==0.18.0
quadprog==0.1.12
peft==0.6.2
rouge==1.0.1
qpth==0.0.16
sacrebleu==2.4.0
sacremoses==0.1.1
wandb
python-Levenshtein